body
{
  background-color: black;
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  text-align: center;
  font-weight: bold;
}

p,nav
{
font-weight: normal;
}

/*header*/

header
{
  display: flex;
  flex-direction: row;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  position: fixed;
  z-index: 1;
  background-color: black;
}

.logo
{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 3;
}

.logo img
{
  height: 50px;
  margin-right: 10px;
}

nav span
{
  display: flex;
  align-items: center;
  display: inline-block;
  padding: 20px 10px;
  margin-right: 10px;
}

/*part one: our mission*/

.flexcontainer1
{
  display: flex;
  justify-content: center;
  padding-top: 70px;
  position: relative;
}

#missie
{
  background-image: url(images/img-mission-background.jpg);
  height: 700px;
  width: 1200px;
  padding-top: 70px;
  display: flex;
  align-items: center;
}

h2, h4
  {
    padding: 10px;
    width: 100%;
    margin: 0px;
  }

.zwart
  {
    background-color: black;
    width: 1200px;
  }

  /*part two:tea of the month*/

.flexcontainer2
  {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  }

.maxwidth
{
max-width: 1000px;
}

.flexcontainer4
{
display: flex;
flex-direction: column;
}

.kader
{
  height: 200px;
  margin: 10px;
  display: block;
}

.textunder
{
  background-color: black;
  width: 300px;
  margin:10px;
  display: block;
}

/*part three: locations*/

#locations
{
  background-image: url(images/img-locations-background.jpg);
  height: 500px;
  width: 1200px;
  padding-top: 70px;
  margin-top: 70px;
}

.blackbox
{
  padding: 10px;
  margin: 15px 20px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height:300px;
  width: 300px;
}

/*footer*/

#textleft
{
  text-align: left;
  padding-left: 20px;
}

#contact
{
  height: 200px;
}
